*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
}

body {
    background: url("../img/inicial.png") no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}

.botao {
  /* Estilos para parecer um bot達o */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove o sublinhado padr達o do link */
  border-radius: 5px; /* Cantos arredondados */
  border: none; /* Remove a borda padr達o */
  cursor: pointer; /* Muda o cursor para "m達ozinha" */
  color: white;
  text-align: center;
  height: 100vh;
  width: 100%;
}