*{
    background: url("/img/tecnologia.png");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
}

.botao {
  /* Estilos para parecer um bot達o */
  display: inline-block;
  text-decoration: none; /* Remove o sublinhado padr達o do link */
  border-radius: 5px; /* Cantos arredondados */
  border: none; /* Remove a borda padr達o */
  cursor: pointer; /* Muda o cursor para "m達ozinha" */
  color: white;
  text-align: left;
  margin-top: 315px;
  margin-left: 560px;
}