*{
    background: url("../../projeto/img/inicial.png");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

h1{
    color: white;
    text-align: center;
    margin-top: 338px;
    background-color:rgb(6, 6, 43);
}