*{
    background: url("../../projeto/img/inicial.png");
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.botao {
  /* Estilos para parecer um bot達o */
  display: inline-block;
  text-decoration: none; /* Remove o sublinhado padr達o do link */
  border-radius: 5px; /* Cantos arredondados */
  border: none; /* Remove a borda padr達o */
  cursor: pointer; /* Muda o cursor para "m達ozinha" */
  color: white;
  text-align: center;
  margin-top: 338px;
  background-color: black;
}

/* Efeito opcional ao passar o mouse */
.botao:hover {
  background-color: #0056b3;
}